USE [master]
GO
IF DB_ID('universitatea') is not null
	BEGIN 
		ALTER DATABASE universitatea SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
		DROP DATABASE universitatea;
	END
GO
CREATE DATABASE [universitatea]
GO
ALTER DATABASE [universitatea] ADD FILEGROUP [userdatafgroup01]
GO
DECLARE @f NVARCHAR(512) = CONVERT(NVARCHAR,SERVERPROPERTY('InstanceDefaultDataPath'))
DECLARE @d NVARCHAR(2000) = 'ALTER DATABASE universitatea ADD FILE (NAME = N''universitatea_File2'',FILENAME = N'''+@f+'universitatea_File2.ndf'')TO FILEGROUP [userdatafgroup01]'
EXECUTE SP_Executesql @d
GO
ALTER DATABASE [universitatea] MODIFY FILEGROUP [userdatafgroup01] DEFAULT
GO
DECLARE @f NVARCHAR(512) = CONVERT(NVARCHAR,SERVERPROPERTY('InstanceDefaultDataPath'))
DECLARE @d NVARCHAR(2000) = 'ALTER DATABASE universitatea ADD FILE (NAME = N''universitatea_File3'',FILENAME = N'''+@f+'universitatea_File3.ndf'')TO FILEGROUP [userdatafgroup01]'
EXECUTE SP_Executesql @d
GO

USE [universitatea]
GO
CREATE TABLE [dbo].[discipline](
	[Id_Disciplina] [int] NOT NULL,
	[Disciplina] [varchar](255) NULL,
	[Nr_ore_plan_disciplina] [smallint] NULL,
 CONSTRAINT [PK_discipline] PRIMARY KEY CLUSTERED 
(	[Id_Disciplina] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[grupe](
	[Id_Grupa] [smallint] IDENTITY(1,1) NOT NULL,
	[Cod_Grupa] [char](6) NOT NULL,
	[Specialitate] [varchar](255) NULL,
	[Nume_Facultate] [varchar](255) NULL,
 CONSTRAINT [PK_grupe] PRIMARY KEY CLUSTERED 
(
	[Id_Grupa] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[profesori](
	[Id_Profesor] [int] NOT NULL,
	[Nume_Profesor] [varchar](60) NOT NULL,
	[Prenume_Profesor] [varchar](60) NOT NULL,
	[Adresa_Postala_Profesor] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Profesor] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[studenti](
	[Id_Student] [int] NOT NULL,
	[Nume_Student] [varchar](50) NOT NULL,
	[Prenume_Student] [varchar](50) NOT NULL,
	[Data_Nastere_Student] [date] NULL,
	[Adresa_Postala_Student] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[studenti_reusita](
	[Id_Student] [int] NOT NULL,
	[Id_Disciplina] [int] NOT NULL,
	[Id_Profesor] [int] NOT NULL,
	[Id_Grupa] [smallint] NOT NULL,
	[Tip_Evaluare] [varchar](60) NOT NULL,
	[Nota] [tinyint] NULL,
	[Data_Evaluare] [date] NULL,
 CONSTRAINT [PK_studenti_reusita] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC,
	[Id_Disciplina] ASC,
	[Id_Profesor] ASC,
	[Id_Grupa] ASC,
	[Tip_Evaluare] ASC)) ON [PRIMARY]
GO
SET XACT_ABORT ON;  
GO  
BEGIN TRANSACTION;

-----INSERT DATA  ----------
INSERT [dbo].[discipline] ([Id_Disciplina], [Disciplina], [Nr_ore_plan_disciplina]) VALUES (100, N'Sisteme de operare', 60)
GO
INSERT [dbo].[discipline] ([Id_Disciplina], [Disciplina], [Nr_ore_plan_disciplina]) VALUES (101, N'Programarea calculatoarelor ', 60)
GO
INSERT [dbo].[discipline] ([Id_Disciplina], [Disciplina], [Nr_ore_plan_disciplina]) VALUES (102, N'Informatica aplicata', 46)
GO
SET IDENTITY_INSERT [dbo].[grupe] ON 
GO
INSERT [dbo].[grupe] ([Id_Grupa], [Cod_Grupa], [Specialitate], [Nume_Facultate]) VALUES (1, N'CIB171', N'Cibernetica', N'Informatica si Cibernetica')
GO
INSERT [dbo].[grupe] ([Id_Grupa], [Cod_Grupa], [Specialitate], [Nume_Facultate]) VALUES (2, N'INF171', N'Informatica', N'Informatica si Cibernetica')
GO
INSERT [dbo].[grupe] ([Id_Grupa], [Cod_Grupa], [Specialitate], [Nume_Facultate]) VALUES (3, N'TI171 ', N'Tehnologii Informationale', N'Informatica si Cibernetica')
GO
SET IDENTITY_INSERT [dbo].[grupe] OFF
GO
INSERT [dbo].[profesori] ([Id_Profesor], [Nume_Profesor], [Prenume_Profesor], [Adresa_Postala_Profesor]) VALUES (100, N'Popescu', N'Gabriel', N'mun. Chisinau')
GO
INSERT [dbo].[profesori] ([Id_Profesor], [Nume_Profesor], [Prenume_Profesor], [Adresa_Postala_Profesor]) VALUES (101, N'Micu', N'Elena', N'mun. Chisinau, bd. Dacia, 44')
GO
INSERT [dbo].[profesori] ([Id_Profesor], [Nume_Profesor], [Prenume_Profesor], [Adresa_Postala_Profesor]) VALUES (102, N'Avram', N'Sanda', N'mun. Chisinau, or. Vadul lui Voda, str. Stefan cel Mare, 2/2')
GO
INSERT [dbo].[studenti] ([Id_Student], [Nume_Student], [Prenume_Student], [Data_Nastere_Student], [Adresa_Postala_Student]) VALUES (100, N'Brasovianu', N'Teodora', CAST(N'2000-11-24' AS Date), N'mun. Chisinau, str. Tighina, 23/3')
GO
INSERT [dbo].[studenti] ([Id_Student], [Nume_Student], [Prenume_Student], [Data_Nastere_Student], [Adresa_Postala_Student]) VALUES (101, N'Cosovanu', N'Geanina', CAST(N'2000-08-04' AS Date), N'mun. Chisinau, bd. Decebal, 76')
GO
INSERT [dbo].[studenti] ([Id_Student], [Nume_Student], [Prenume_Student], [Data_Nastere_Student], [Adresa_Postala_Student]) VALUES (102, N'Coste', N'Claudia', CAST(N'1999-12-05' AS Date), N'mun. Chisinau, bd. Cuza-Voda, 31')
GO
INSERT [dbo].[studenti_reusita] ([Id_Student], [Id_Disciplina], [Id_Profesor], [Id_Grupa], [Tip_Evaluare], [Nota], [Data_Evaluare]) VALUES (100, 105, 110, 1, N'Examen', 9, CAST(N'2018-01-25' AS Date))
GO
INSERT [dbo].[studenti_reusita] ([Id_Student], [Id_Disciplina], [Id_Profesor], [Id_Grupa], [Tip_Evaluare], [Nota], [Data_Evaluare]) VALUES (100, 105, 110, 1, N'Reusita curenta', 9, CAST(N'2018-12-03' AS Date))
GO
INSERT [dbo].[studenti_reusita] ([Id_Student], [Id_Disciplina], [Id_Profesor], [Id_Grupa], [Tip_Evaluare], [Nota], [Data_Evaluare]) VALUES (100, 105, 110, 1, N'Testul 1', 9, CAST(N'2017-10-06' AS Date))
GO
ALTER TABLE [dbo].[studenti_reusita]  WITH CHECK ADD  CONSTRAINT [FK_studenti_reusita_discipline] FOREIGN KEY([Id_Disciplina])
REFERENCES [dbo].[discipline] ([Id_Disciplina])
GO
ALTER TABLE [dbo].[studenti_reusita] CHECK CONSTRAINT [FK_studenti_reusita_discipline]
GO
ALTER TABLE [dbo].[studenti_reusita]  WITH CHECK ADD  CONSTRAINT [FK_studenti_reusita_grupe1] FOREIGN KEY([Id_Grupa])
REFERENCES [dbo].[grupe] ([Id_Grupa])
GO
ALTER TABLE [dbo].[studenti_reusita] CHECK CONSTRAINT [FK_studenti_reusita_grupe1]
GO
ALTER TABLE [dbo].[studenti_reusita]  WITH CHECK ADD  CONSTRAINT [FK_studenti_reusita_profesori] FOREIGN KEY([Id_Profesor])
REFERENCES [dbo].[profesori] ([Id_Profesor])
GO
ALTER TABLE [dbo].[studenti_reusita] CHECK CONSTRAINT [FK_studenti_reusita_profesori]
GO
ALTER TABLE [dbo].[studenti_reusita]  WITH CHECK ADD  CONSTRAINT [FK_studenti_reusita_studenti1] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[studenti] ([Id_Student])
GO
ALTER TABLE [dbo].[studenti_reusita] CHECK CONSTRAINT [FK_studenti_reusita_studenti1]
GO
COMMIT TRANSACTION;
GO
